.buy {
    background-color: $mainRed;
    padding-top: 2rem;
    padding-bottom: 4rem;
    
    &__title {
        color: #fff;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__section {
        width: 12.75rem;
        border: 1px solid rgba(255, 255, 255, 0.25);

        &__img {

            & img {
                width: 100%;
            }
        }

        &__action {

            & button {
                width: 6.15rem;
                border: 1px solid rgba(255, 255, 255, 0.25);
            }
        }
    }
}