.four-pillars {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    &__img {
        width: 12.875rem;

        @mixin atLarge {
            width: 16rem;
        }

        & img {
            width: 100%;
        }
    }
}