.header-logo {
    height: 6.25rem;
    display: flex;
    justify-content: space-between;
    padding-top: 2.2rem;
    background-color: #fff;
    z-index: 15;
    transition: all 0.1s linear;

    &--sticky {
        height: 4rem;
        padding-top: 1rem;
    }

    &__section {

        & img {

            &:hover {
                cursor: pointer;
            }
        }

        & svg {
            font-size: 1.3rem;
            color: $darkBlue;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.top-wrapper {
    z-index: 999;
}