.large-hero {
    position: relative;

    &:hover .large-hero__arrow {
        opacity: 1;
    }

    &__content {
        width: 100%;

        @mixin atMedium {
            height: 29.25rem;
        }
        
        @mixin atLarge {
            height: 36.375rem;
        }
    }

    &__img {
        position: relative;

        & img {
            width: 100%;
        }

        &__title {
            position: absolute;
            top: 20%;
            left: 10%;
            color: #fff;
            text-transform: uppercase;
            font-family: "Roboto Slab", sans-serif;
            font-size: 3rem;

            &--center {
                left: 22%;
            }
        }
    }

    &__arrow {
        position: absolute;
        top: 50%;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 0.8rem;
        z-index: 10;
        opacity: 0;
        transition: all 0.2s linear;

        &:hover {
            cursor: pointer;
        }

        &--left {
            transform: rotate(135deg);
            left: 1.5rem;
        }

        &--right {
            transform: rotate(-45deg);
            right: 1.5rem;
        }
    }

    &__start {
        position: absolute;
        top: 95%;
        left: 54%;
        /* color: #fff;
        font-size: 0.5rem; */

        &:hover {
            cursor: pointer;
        }
    }

    &__start-btn {
        width: 8px;
        height: 11px;
        border-right: 2px solid #fff;
        border-left: 2px solid #fff;
    }

    &__dots {

        &__dot {
            width: 0.6rem;
            height: 0.65rem;
            border: 2px solid #fff;
            border-radius: 50%;
            position: absolute;
            top: 95.2%;

            &:first-of-type {
                left: 47%;
            }

            &:nth-of-type(2) {
                left: 49%;
            }

            &:nth-of-type(3) {
                left: 51%;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.2);
                cursor: pointer;
            }

            &:hover .large-hero__dots__dot__preview {
                opacity: 1;
            }

            &__preview {
                position: absolute;
                right: 5.5rem;
                bottom: 1.6rem;
                left: -3rem;
                z-index: 10;
                opacity: 0;
                transition: all 0.2s linear;
                width: 6.5rem;
                height: 4rem;
                border: 2px solid #fff;

                &__triangle {
                    position: absolute;
                    background: #fff;
                    border-radius: .4em;
                    bottom: -1.1rem;
                    left: 50%;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 1rem;
                        left: 55%;
                        width: 0;
                        height: 0;
                        border: 5px solid transparent;
                        border-top-color: #fff;
                        border-bottom: 0;
                        margin-left: -5px;
                        margin-bottom: -5px;
                    }
                }
                
                &--image1 {
                    background-image: url("../../../assets/images/slide11.jpg");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                &--image2 {
                    background-image: url("../../../assets/images/bg-slider-3-41.jpg");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                &--image3 {
                    background-image: url("../../../assets/images/bg-slider1.jpg");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}