.news {
    margin-top: 2rem;
    margin-bottom: 4.5rem;
    color: $darkGrayBlue;

    &__btns {
        text-align: right;
        margin-right: 2rem;
        margin-bottom: 2rem;

        &__btn {
            display: inline-block;
            border: 1px solid rgba(0, 0, 0, 0.1);
            height: 1.7rem;
            width: 1.7rem;
            border-radius: 50%;
            padding-right: 0.6rem;
            padding-top: 0.05rem;
            transition: all 0.2s linear;

            &:hover {
                cursor: pointer;
                border: 1px solid $darkGrayBlue;
                background-color: rgba(0, 0, 0, 0.3);
            }

            &:hover .news__btns__btn__arrow {
                border: solid #fff;
                border-width: 0 1px 1px 0;
            }

            &__arrow {
                border: solid black;
                border-width: 0 1px 1px 0;
                display: inline-block;
                padding: 2px;

                &--left {
                    transform: rotate(135deg);
                }

                &--right {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    &__viewport {
        width: 58.75rem;
        margin: 0 auto;

        @mixin atLarge {
            width: 72.625rem;
        }
    }

    &__content {
        width: 58.75rem;
        display: flex;
    }

    &__section {
        width: 18.25rem;
        margin-left: 1rem;
        margin-right: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.1);

        @mixin atLarge {
            width: 16.75rem;
        }

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }

        &__img {
            height: 14.5rem;
            overflow: hidden;

            & img {
                height: 100%;
            }
        }

        &__description {
            margin-left: 1rem;

            &__title {
                font-family: "Roboto Slab", sans-serif;
                margin-bottom: 0;
            }

            &__tags {
                text-transform: uppercase;
                font-size: 0.7rem;

                & a {
                    text-decoration: none;
                    color: $mainRed;
                }
            }
        }
    }
    
}