.progress {
    height: 51.8125rem;
    margin-top: 5rem;
    margin-bottom: 3.5rem;
    color: #fff;

    @mixin atSmall {
        height: 31.75rem;
    }

    @mixin atMedium {
        height: 23rem;
    }
    
    &__overlay {
        padding-top: 2rem;
        background-color: #3c576e;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        padding-left: 4rem;

        @mixin atMedium {
            padding-left: 0;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        color: rgba(255, 255, 255, 0.7);

        @mixin atMedium {
            flex-wrap: nowrap;
            width: 55.625rem;
        }

        @mixin atLarge {
            width: 66.25rem;
        }
    }

    &__section {
        width: 100%;
        display: flex;

        @mixin atSmall {
            width: 50%;
        }

        @mixin atMedium {
            width: 25%;
        }

        & svg {
            font-size: 3rem;
            margin-top: 3.5rem;
            margin-right: 1rem;
        }

        &__right {

            &__num {
                font-size: 3rem;
                color: $pinkRed;
                margin-bottom: 0.5rem;

                &--white {
                    color: rgba(255, 255, 255, 0.7);
                }
            }

            &__type {
                font-family: "Roboto Slab", sans-serif;
                margin-top: 0;
            }
        }
    }
}