.return-btn {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    background-color: rgba(67, 87, 116, 0.5);
    border: 1px solid transparent; 
    width: 3rem;
    height: 3rem;
    transition: all 0.2s linear;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s linear;
    z-index: 1000;

    &--revealed {
        visibility: visible;
        opacity: 1;
    }

    &__arrow {
        border: solid #fff;
        border-width: 0 1.5px 1.5px 0;
        display: inline-block;
        padding: 2.5px;
        transform: rotate(-135deg);
        transition: all 0.2s linear;
        visibility: hidden;

        &--revealed {
            visibility: visible;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: #fff;
        border: 1px solid rgba(67, 87, 116, 0.3);
    }

    &:hover .return-btn__arrow {
        border: solid $darkGrayBlue;
        border-width: 0 1.5px 1.5px 0;
    }
}