.section {

    &__title {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.8rem;
    }

    &__wrapper {
        padding: 0 1.3rem;

        @mixin atMedium {
            padding: 0 2rem;
        }

        @mixin atLarge {
            padding: 0 2.5rem;
        }
    }
}